/* ---------------------------------------------------- */
/* VARIABLES MODO OSCURO (Dark Mode) - POR DEFECTO */
/* ---------------------------------------------------- */
:root, .dark-mode {
    --color-background-primary: #1A1A1A;     /* Fondo general oscuro */
    --color-background-secondary: #282828;   /* Fondo de inputs o tarjetas */
    --color-text-primary: #FFFFFF;           /* Texto principal blanco */
    --color-text-secondary: #A9A9A9;         /* Texto secundario/etiquetas gris claro */
    --color-border: #444444;                 /* Borde de inputs */

    /* Colores fijos de UNAHUR */
    --unahur-azul: #33A3A9;
    --unahur-verde: #559A33;
    --acento-error: #D32F2F;
}

/* ---------------------------------------------------- */
/* VARIABLES MODO CLARO (Light Mode) */
/* ---------------------------------------------------- */
.light-mode {
    --color-background-primary: #F8F8F8;     /* Fondo general muy claro */
    --color-background-secondary: #FFFFFF;   /* Fondo de inputs o tarjetas blanco puro */
    --color-text-primary: #4D4D4D;           /* Texto principal oscuro */
    --color-text-secondary: #718096;         /* Texto secundario/etiquetas gris oscuro */
    --color-border: #E2E8F0;                 /* Borde de inputs claro */

    /* Colores fijos de UNAHUR se mantienen */
}

/* Aplicación al body para ver el cambio inmediato */
body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

